body {
    background-image: url("../images/background.png");
    background-color: #bcb6cf;
}

.white-text {
	color: #ffffff;
}

 .row.extra-bottom-padding {
   margin-bottom: 20px;
}

.navbar-bottom {
  margin-top: 15px;
}

img {
    padding: 15px;
}