<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Security-Policy" content="base-uri 'self'; default-src 'none'; img-src 'self'; font-src 'self' https://fonts.gstatic.com; manifest-src 'self'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; script-src 'self' 'unsafe-inline'; connect-src https://icanhazdadjoke.com;" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="anonymous" />
    <link rel="preload" as="image" href="1a5e5634f18189d43edd.webp" fetchpriority="high" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body class="site">
    <div class="site-content" id="root"></div>
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <div id="footer"></div>
</body>

</html>
